* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#main {
    width: 250px;
    border: 1px solid blue;
    padding: 10px 20px 10px 10px;
}

.line {
    padding: 5px 0;
}

.btnsm {
    margin-top: 10px;
    margin-left: 50px;
}